<form class="wrap" (ngSubmit)="onSubmit()" novalidate>
	<div class="html-bar-region"></div>
	<div class="opt">
		<div class="html-bar-calendar"></div>
		<div class="html-bar-apt"></div>
		<div class="submit">
			<input class="bgc c1" type="submit" [attr.value]="vars.path === 'detalhe' ? 'Atualizar' : 'Busca'">
		</div>
	</div>
	<div class="eanKeys" *ngIf="show.keys">
		<input placeholder="eanCID" name="cid" [(ngModel)]="keys.cid">
		<input placeholder="eanAPIKey" name="api" [(ngModel)]="keys.api">
		<input placeholder="eanSharedSecret" name="secret" [(ngModel)]="keys.secret">
	</div>
</form>
<div class="sub" *ngIf="vars.loadSearch && vars.last.props">
	<span class="txt">{{vars.last.busca}}: {{vars.last.props}} propriedade{{vars.last.props > 1 ? 's' : ''}}</span>
</div>
