.app-root {
	& .detalhe {
		& .body {
			display: none;
			& .search {
				display: none;
			}
			& .dateRange .checkin {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	.app-detalhe {
	}
}
