<div class="app-detalhe" *ngIf="res">
	<div class="wrap">
		<div class="headline">
			<div class="top">
				<div class="left wrap">
					<div>
						<h2 [textContent]="res.hotelName" class="fsz f20"></h2>
					</div>
					<div class="rateStar" [hidden]="!res.hotelRating">
						<div class="stars">
							<span [attr.class]="'fsz f19' + (res.hotelRating % 1 !== 0 && j + 1 > res.hotelRating ? ' half' : '')" *ngFor="let star of [] | range:(res.hotelRating ? res.hotelRating : 1); let j = index;">
						☆
					</span>
						</div>
					</div>
				</div>
				<div class="right wrap">
					<div class="rateTrip fgc c1 fsz f15" [hidden]="!res.hotelTripAdvisorRating">
						<span class="label" [textContent]="res.hotelTripAdvisorLabel"></span>
						<span class="rate" [textContent]="(res.hotelTripAdvisorRating||0).toFixed(1)"></span>
					</div>
				</div>
			</div>
			<div class="bot" style="display:none;" [hidden]="!vars.params.in || !vars.params.out || !vars.params.rng">
				<p class="fsz f17">
					<span>{{ vars.params.rng }} Noites</span>
					<strong>Entrada</strong>
					<span [textContent]="vars.params.in"></span>
					<span [textContent]="vars.params.out"></span>
				</p>
			</div>
		</div>
		<ul class="menu" style="display:none;">
			<li>
				<a href="javascript:;" fragment="quartos">
					<span>Quartos</span>
				</a>
			</li>
			<li>
				<a href="javascript:;" fragment="bom-saber">
					<span>Bom saber</span>
				</a>
			</li>
			<li>
				<a href="javascript:;" fragment="facilidades">
					<span>Facilidades do hotel</span>
				</a>
			</li>
			<li>
				<a href="javascript:;" fragment="pontos-de-interesse">
					<span>Pontos de interesse</span>
				</a>
			</li>
		</ul>
		<div class="summary">
			<div class="imgs" *ngIf="img">
				<div class="img" [ngStyle]="imgHeight">
					<div class="prevNext">
						<div (click)="show.img = show.img === 0 ? img.hotelImages.HotelImage.length - 1 : show.img - 1">
							<span class="left fgc c1"><i class="fa fa-chevron-left fa-2x"></i></span>
						</div>
						<div (click)="show.img = show.img === img.hotelImages.HotelImage.length - 1 ? 0 : show.img + 1">
							<span class="right fgc c1"><i class="fa fa-chevron-right fa-2x"></i></span>
						</div>
					</div>
					<span class="overlay">
						<strong class="fsz f13">
							Imagem em destaque
							<span>
								[{{show.img + 1}}/{{img.hotelImages.HotelImage.length}}]
							</span>
					</strong>
					</span>
					<div [attr.class]="'abs ' + (show.img > n ? 'alignL' : (show.img === n ? 'alignC' : 'alignR'))" *ngFor="let item of [] | range:(img.hotelImages.HotelImage.length); let n = index;">
						<img (load)="imgRatio($event.target, n)" [attr.class]="img.hotelImages.HotelImage[n].cls" [attr.src]="img.hotelImages.HotelImage[n].highResolutionUrl" alt="">
					</div>
				</div>
				<div class="thumbs" [ngStyle]="!show.thumbs ? thumbHeight : {}" [hidden]="!show.thumbs">
					<div (click)="show.img = n" [attr.class]="'thumb' + (show.img === n ? ' active' : '')" *ngFor="let item of [] | range:img.hotelImages.HotelImage.length; let n = index;">
						<img (load)="thumbRatio($event.target, n)" [attr.src]="img.hotelImages.HotelImage[n].thumbnailUrl" alt="">
					</div>
					<a href="javascript:;" (click)="show.thumbs = !show.thumbs">
						<span *ngIf="!show.thumbs">
							Veja {{img.hotelImages.HotelImage.length}} Fotos
						</span>
						<span *ngIf="show.thumbs">
							Exibir Menos
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="nav-quartos"></div>
	<div id="nav-bom-saber"></div>
	<div id="nav-facilidades"></div>
	<div id="nav-pontos-de-interesse"></div>
</div>
