<div class="app-detalhe" *ngIf="res">
	<div class="headline">
		<div class="left wrap">
			<div>
				<h2 [textContent]="res.hotelName" class="fsz f20"></h2>
			</div>
			<div class="rateStar" [hidden]="!res.hotelRating">
				<div class="stars">
					<span [attr.class]="'fsz f19' + (res.hotelRating % 1 !== 0 && j + 1 > res.hotelRating ? ' half' : '')" *ngFor="let star of [] | range:res.hotelRating; let j = index;">
						☆
					</span>
				</div>
			</div>
		</div>
		<div class="right wrap">
			<div class="rateTrip fgc c1 fsz f15" [hidden]="!res.hotelTripAdvisorRating">
				<span class="label" [textContent]="res.hotelTripAdvisorLabel"></span>
				<span class="rate" [textContent]="res.hotelTripAdvisorRating.toFixed(1)"></span>
			</div>
		</div>
	</div>
</div>
