.app-root {
	& .detalhe {
		& .body {
			display: none;
			& .search {
				display: none;
			}
			& .dateRange .checkin {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	.app-detalhe {
		text-align: left;
		&>.headline {
			position: relative;
			text-align: left;
			&>.wrap {
				display: inline-block;
				&.right {
					text-align: right;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					right: 0;
				}
				&>div {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}
