.app-root {
	& .detalhe {
		& .body {
			display: none;
			& .search {
				display: none;
			}
			& .dateRange .checkin {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	.app-detalhe {
		text-align: left;
		& .headline {
			.top {
				position: relative;
				text-align: left;
				&>.wrap {
					display: inline-block;
					&.right {
						text-align: right;
						position: absolute;
						top: 50%;
						transform: translate(0, -50%);
						right: 0;
					}
					&>div {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
			.bot {
				strong {
					font-weight: 600;
				}
			}
		}
		.summary {
			.img {
				float: left;
				width: 30%;
				padding-bottom: 30%;
				overflow: hidden;
				position: relative;
				.abs {
					position: absolute;
					top: 0;
					left: 0;
					height: auto;
					width: 100%;
					display: block;
					transition: left .4s ease;
					background-color: #fff;
					z-index: 0;
					&.alignL {
						left: -100%;
					}
					&.alignC {
						left: 0%;
					}
					&.alignR {
						left: 100%;
					}

					img {
						display: block;
						width: 100%;
					}
					img.flipped {
						transform: scaleX(-1) rotate(180deg);
						filter: FlipH;
					}
				}
			}
		}
	}
}
