<div class="app-root" *ngIf="!params || !params['404']">
	<div class="app-home">
		<div [attr.class]="vars.path + (vars.loadSearch !== undefined ? ' search' : '')">
			<div>
				<div class="main wrap">
					<div class="head wrap">
						<div class="html-title"></div>
					</div>
					<div class="body">
						<div class="html-bar"></div>
					</div>
				</div>
				<div class="result">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="params && params['404']">
	{{json2str(params)}}
</div>
