<div class="app-home">
	<div class="head">
		<h1><img [attr.src]="vars.logo.url" [attr.alt]="vars.logo.alt"></h1>
		<p class="fgc c1" [innerHTML]="vars.slogan"></p>
	</div>
	<div class="body">
		<form #frm="ngForm" class="wrap" (ngSubmit)="onSubmit(frm)" novalidate>
			<div class="search">
				<label>
					<input placeholder="Ex: São Paulo" name="busca" [(ngModel)]="mdl.busca">
					<span class="icon"></span>
				</label>
			</div>
			<div class="opt">
				<div class="checkin">
					<label>
						<input placeholder="MM/DD/YYYY" name="entrada" [(ngModel)]="mdl.entrada">
						<span class="label"><span>Check-in</span></span>
					</label>
				</div>
				<div class="checkout">
					<label>
						<input placeholder="MM/DD/YYYY" name="saida" [(ngModel)]="mdl.saida">
						<span class="label"><span>Check-out</span></span>
					</label>
				</div>
				<div id="rooms" class="rooms">
					<div class="quartos" (click)="onClick($event.target)">
						<span class="label">
							<span class="icon-room">
								<img [attr.src]="vars.icons.room" alt="Q">
							</span>
							<span class="val" [textContent]="mdl.room.total"></span>
						<span class="pessoas">
								<span class="icon-people">
									<img [attr.src]="vars.icons.people" alt="P">
								</span>
								<span class="val" [textContent]="mdl.room.people.total"></span>
						</span>
						</span>
					</div>
					<div [attr.class]="'room' + (open.rooms ? ' show' : '')">
						<div [attr.class]="'room' + (n + 1)" *ngFor="let p of mdl.room.people.list; let n = index;">
							<span class="header">Quarto {{n + 1}} <span class="remove" (click)="rmRoom(n)">&times;</span></span>
							<div class="campos wrap">
								<label>
									<span>Adultos (18+):</span>
									<input type="number" placeholder="" min="1" name="adults[{{p.name}}]" [ngModel]="p.more18" (ngModelChange)="changeAdult(n, $event)">
								</label>
								<label>
									<span>Menor (até 17)</span>
									<input min="0" step="1" type="number" name="children[{{p.name}}]" [ngModel]="p.less18.total" (ngModelChange)="changeChild(n, $event)">
								</label>
								<div class="children wrap">
									<label *ngFor="let pp of p.less18.list; let nn = index">
										<span>{{ nn + 1 }}ª Menor</span>
										<input type="number" max="17" min="0" placeholder="" name="childage[{{p.name}}][{{nn}}]" [(ngModel)]="pp.age">
									</label>
								</div>
							</div>
						</div>
						<a href="javascript:;" class="add bgc c1" (click)="addRoom(mdl.room.total)">Adicionar Quarto</a>
					</div>
				</div>
				<div class="submit">
					<input class="bgc c1" type="submit" value="Busca">
				</div>
			</div>
		</form>
	</div>
	<div class="foot"></div>
</div>
